.contenedor-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    padding: 0px 50px;
}


.contenedor-items img {
    height: 100px;
}