.menuNavBar {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    height: 90px;
}

.menuNavBar ul {
    display: flex;
    list-style: none;
    align-items: center;
}

.menuNavBar ul li {
    margin: 0 10px;
}
.menuNavBar ul li:first-child{
    padding-left: 180px;
}

.menuNavBar ul li a {
    color: #3c3c3c;
    text-decoration: none;
    font-size: 1.1rem;
    letter-spacing: 1px;
    padding: 8px 10px;
    transition: all 0.3s ease;
}

.menuNavBar ul li a:hover {
    color: #ec6b75;
}


.logoHD {
    height: 60px;
  }